.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

@media (max-width: 811px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 376px) {
  .cardsWrapper {
    grid-template-columns: 1fr;
  }
}

.section {
  margin-top: 1rem;
}
